<div class="box_show" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account No.</th>
        <th>Account Name</th>
        <th>Amount Deposited</th>
        <th>Collection Type</th>
        <th>Collected By</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
      <% account = collection.account %>
      <tr>
        <td><%= link_to account.id, account_path(account.id) %></td>
        <td><%= account.full_name %></td>
        <td><%= collection.amount %></td>
         <td><%= collection.type %></td>
        <td><%= collection.collected_by %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>