<!DOCTYPE html>
<html>
<head>
  <title>SimpleBanking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :file => 'layouts/upper_navigation' %>
  <% render :file => 'layouts/bank_navigation' if current_member %>
  <%= render :file => 'layouts/member_navigation' if current_member %>
  <p class="notice"><%= notice %></p>
  <p class="alert_message"><%= alert %></p>

</head>
<body>

 <%= yield %>

</body>
</html>
