<div class="navbar top-bar">
  <div class="navbar-inner">
    <a class="brand" href="#">Co-Operative Banking </a>
    <ul class="nav">
      <% if current_member %>
        <% case current_member.type.to_i %>
        <% when 0 %>
        <%= render :file => 'layouts/roles/super_admin' %>
        <% when 1 %>
        <%= render :file => 'layouts/roles/finance_admin' %>
        <% when 2 %>
        <%= render :file => 'layouts/roles/loan_admin' %>
        <% when 3 %>
        <%= render :file => 'layouts/roles/collection_admin' %>
        <% when 4 %>
        <%= render :file => 'layouts/roles/collection_staff' %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
