<%= link_to "Add a new staff", new_member_path, :class => 'btn btn-primary pull-right' %>
<div class="box_show" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Member Id.</th>
        <th>Created At</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Type</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.id, member_path(member) %></td>
        <td><%= member.created_at.strftime("%b %d, %Y") %></td>
        <td><%= member.user_name %></td>
        <td><%= member.email %></td>
        <td><%= member.type %></td>
        <td><%= member.status %></td>
        <td>
          <%= link_to "Fire this member.",
          member_path(member),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>