<div class="box_show">
  <div class="box_content">
    <h4><%= @member.full_name %></h4>
    <div>
      <strong>Son of: </strong> <%= @profile.father_name %>
    </div>
    <div class="profile_image">
      <%= image_tag @profile.image_url(:thumb) if @profile.image? %>
    </div>
    <div>
      <strong>Address: </strong>
      <%= @profile.district %>
      <%= @profile.ward_no %>
      <%= @profile.zone %>
    </div>
    <div><strong>Status: </strong><%= @member.status %></div>
    <div>
      <strong>Collections Stats:</strong>
      <div class="balance_stats">
        <% unless @collections.blank? %>
        <p>Last collection done on: <%= @collections.last.created_at.strftime("%b %d, %Y") %> </p>
        <p>Last collected amount: <%= @collections.last.amount %> </p>
        <p>Last collection done for: <%= @collections.last.account.full_name %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>