<div class="box_show" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount Deposited</th>
        <th>Collection Type</th>
        <th>Total Amount</th>
        <th>Collected By</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% total_amount = 0 %>
      <% @passbook_data.each do |collection| %>
      <tr>
        <td><%= collection.created_at.strftime("%b %d, %Y") %></td>
        <td><%= collection.description %></td>
        <td><%= amount = collection.amount %></td>
        <td><%= type = collection.type %></td>
        <% type == "debit" ? (total_amount += amount) : (total_amount -= amount)  %>
        <td><%= total_amount %></td>
        <td><%= collection.collected_by %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>